
	body{
		font-family: "palatino linotype";
		font-style: italic;
		font-weight: bold;
		color: black;
	}
	#userregistration{
		max-width: 450px;
        padding: 10px ;
        margin: 0 auto 10px;
        background-color: grey;
        border: 4px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }

#target, #src > img {border: thin solid black; padding: 2px; margin:4px;}
#target {height: 81px; width: 81px; text-align: center; display: table;}
#target > p {display: table-cell; vertical-align: middle;}
#target > img {margin: 1px;}
img.dragged {background-color: white;}

	}
#container1 {
    background-color: #e2dada;
}
body{
    background-image: url("sf.jpg");
}

.centered-form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.panel{
    opacity: 0.9;
}
.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
